@font-face {
	font-family: "LL Gravur Cond Regular Web";
	src: url("../fonts/GravurLLWeb-CondRegular.eot");
	src: url("../fonts/GravurLLWeb-CondRegular.woff2") format("woff2"), url("../fonts/GravurLLWeb-CondRegular.woff") format("woff");
}

html, body, .container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	position: absolute;
}

body {
	background: #000;
	overflow: hidden;
	position: fixed;
	font-family: 'LL Gravur Cond Regular Web';
	font-weight: normal;
}

h2 {
	font-size: 1.5em;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 0;
}

p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 1em 0 0;
}

.container {
	position: absolute;
	top:0px;
	left:0px;
	overflow: hidden;
	font-size:1vw;
}

#wrapper_html {
	display: none;
	pointer-events: none;
}

	.textbox {
		background: rgba(0,86,89,0.5);
		position: absolute;
		left: 4em;
		top: 18em;
		width: 15em;
		padding: 1.5em;
		box-sizing: border-box;
	}

	.btn_icon {
		width:3em;
		position: absolute;
		opacity: 0.5;
		transition: opacity 0.2s;
		cursor: pointer;
	}

		.btn_icon:hover {
			opacity: 1.0;
		}

	#airport_overlay {
		display: none;
		pointer-events: all;
	}


#switch, #switch * {
	position:absolute;
}
	#switch #switch_button {
		left: 0em;
		transition: left 0.2s;
	}
		#switch.right #switch_button {
			left: 2em;
		}

	#switch .text_left {
		opacity: 1.0;
		transition: opacity 0.2s;
	}
	#switch .text_right {
		opacity: 0.5;
		transition: opacity 0.2s;
	}
	#switch.right .text_left {
		opacity: 0.5;
	}
	#switch.right .text_right {
		opacity: 1.0;
	}








