html, body, .container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: sans-serif;
}

body {
	background: #000;
	overflow: hidden;
	position: fixed; 
}

.container {
	position: absolute;
	top:0px;
	left:0px;
	overflow: hidden;
}

.button {
	position: absolute;
	bottom: 20%;
	right: 10%;
	display: none;
	cursor: pointer;
	background: #555;
	padding: 10px;
}

#airport_title {
	position: absolute;
	font-size: 20px;
	pointer-events: none;
	top: 5%;
	left: 10%;
}




